apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- terraform-resource.yaml

# Replacements for parameterization
# These can be overridden by ArgoCD parameters or overlays
replacements:
- source:
    kind: Terraform
    name: agent-core-components
    fieldPath: spec.vars.[name=enable_memory].value
  targets:
  - select:
      kind: Terraform
      name: agent-core-components
    fieldPaths:
    - spec.vars.[name=enable_memory].value

- source:
    kind: Terraform
    name: agent-core-components
    fieldPath: spec.vars.[name=enable_browser].value
  targets:
  - select:
      kind: Terraform
      name: agent-core-components
    fieldPaths:
    - spec.vars.[name=enable_browser].value

- source:
    kind: Terraform
    name: agent-core-components
    fieldPath: spec.vars.[name=enable_code_interpreter].value
  targets:
  - select:
      kind: Terraform
      name: agent-core-components
    fieldPaths:
    - spec.vars.[name=enable_code_interpreter].value
